//-===========================
// font names 
//===========================

$font-path: '../fonts/';

@font-face {
    font-family: 'GeoSlab';
    src: url('#{$font-path}GeometricSlab703BT-Medium.eot');
    src: url('#{$font-path}GeometricSlab703BT-Medium.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}GeometricSlab703BT-Medium.woff2') format('woff2'),
        url('#{$font-path}GeometricSlab703BT-Medium.woff') format('woff'),
        url('#{$font-path}GeometricSlab703BT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'GeoSlab';
    src: url('#{$font-path}GeometricSlab703BT-BoldItalic.eot');
    src: url('#{$font-path}GeometricSlab703BT-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}GeometricSlab703BT-BoldItalic.woff2') format('woff2'),
        url('#{$font-path}GeometricSlab703BT-BoldItalic.woff') format('woff'),
        url('#{$font-path}GeometricSlab703BT-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}



@font-face {
    font-family: 'GeoSlab';
    src: url('#{$font-path}GeometricSlab703BT-Bold.eot');
    src: url('#{$font-path}GeometricSlab703BT-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}GeometricSlab703BT-Bold.woff2') format('woff2'),
        url('#{$font-path}GeometricSlab703BT-Bold.woff') format('woff'),
        url('#{$font-path}GeometricSlab703BT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'GeoSlab';
    src: url('#{$font-path}GeometricSlab703BT-MediumItalic.eot');
    src: url('#{$font-path}GeometricSlab703BT-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}GeometricSlab703BT-MediumItalic.woff2') format('woff2'),
        url('#{$font-path}GeometricSlab703BT-MediumItalic.woff') format('woff'),
        url('#{$font-path}GeometricSlab703BT-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'akaDora';
    src: url('#{$font-path}akaDora.eot');
    src: url('#{$font-path}akaDora.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}akaDora.woff2') format('woff2'),
        url('#{$font-path}akaDora.woff') format('woff'),
        url('#{$font-path}akaDora.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}