body {
    background: $grey;
    position: relative;
    &.lock {
        overflow: hidden;
        main, footer {
            filter: blur(3px);
        }
    }
    @media #{$xssm} {
        padding-top: rem(95px);
    }
}
main, footer {
    transition: all 0.15s ease-in-out;
}

main {
    background: inherit;
    @media #{$xssm} {
        margin-bottom: 0!important;
    }
}

.flex-list {
    display: flex;
}

.is-background {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    opacity: 1;
    z-index: 1;
}

.has-background {
    position: relative;
    overflow: hidden;
    z-index: 0;
} 