//-===========================
// Variables 
//===========================

// Colors 

$primary:           #1eab1e;
$accent:            #ba0378;
$dark:              #111111;

$white:             #ffffff;
$grey:              #eeeeee;
$darkerGrey:          darken($grey, 10%);


//sizes

$gutter:            40;
$halfGutter:        20;
$border-radius:     5;
// typo

$baseFont:          'GeoSlab', serif;
$cursive:           'akaDora', cursive;
$baseSize:          16; 


//properties

$shadow:            0px 3px 5px 0px rgba(0,0,0,0.2), 0px 4px 14px 0px rgba(0,0,0,0.2);
$shadowHover:       0px 0px 14px 0px rgba(0,0,0,0.3), 0px 6px 14px 0px rgba(0,0,0,0.6);

$container:         960;


// hero 

$hero:              350;
$heroTall:          600;
$heroTitle:         60;
$heroDesc:          18;


// categpry card

$category:          500;
$categoryTitle:     30;


// product card

$productCardHeight:     350;
$productCardWidth:      280;
$productCardTitle:      18;
$productCardPrice:      22;
$productCardImage:      180;



//motto
$motto:             300;
$mottoText:         30;
$mottoAuthor:       18;


//header
$navLink:           18;
$navTop:            24;
$logoH:             100;

//footer

$footerHead:        18;
$footerLink:        16;
$copyright:         12;
$mapH:              240;


// shop

$filter:            18;
$productTitle:      36;
$productDetails:    16;
$productImageBig:   736;
$productImageSmall: 137;


// contact page

$contactMap:        500;
$contactDetails:    24;


// forms 

$formH:             40;
$formSize:          16;


//media queries

$xs:                "screen and (max-width: 767px)";
$xss:               "screen and (min-width: 320px) and (max-width: 479px)";
$xsm:               "screen and (min-width: 480px) and (max-width: 599px)";
$xsl:               "screen and (min-width: 600px) and (max-width: 767px)";
$sm:                "screen and (min-width: 768px) and (max-width: 991px)";
$md:                "screen and (min-width: 992px) and (max-width: 1199px)";
$lg:                "screen and (min-width: 1200px)";

$xssm:              "screen and (max-width: 991px)";
$smmd:              "screen and (min-width: 768px) and (max-width: 1199px)";