.motto {
    min-height: rem($motto);
    overflow: hidden;
    position: relative;
    background: $dark;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem($gutter);

    @media #{$xs} {
        padding: rem($halfGutter / 2);
        min-height: auto;
    }


    .is-background {

        opacity: 0.45;

    }
    &-content {
        position: relative;
        z-index: 2;
        padding: rem($gutter);
        width: 100%;
        text-align: center;
        color: $white;
        mix-blend-mode: soft-light;
        @media #{$xs} {
            padding: rem($halfGutter / 2);
        }
        .quote {
            font-family: $cursive;
            @include fontSize($mottoText - 12, $mottoText);
            color: inherit;
            margin-bottom: rem($gutter); 
            @media #{$xs} {
                margin-bottom: rem($halfGutter / 2); 
                line-height: 1.1;
            }
        }
        .author {
            transform: translateX(100%);
            @include fontSize($mottoAuthor - 6, $mottoAuthor);
            font-weight: bold;
            display: inline-block;
            font-style: italic;
            margin-bottom: 0;
            @media #{$xs} {
                transform: translateX(0%); 
            }
        }
        &:last-child { 
            position: absolute;
            mix-blend-mode: overlay;
            opacity: 0.9;
            justify-content: center;
            display: block;
            flex-direction: column;
            align-items: center;
            padding: rem($gutter * 2);
            @media #{$xs} {
                padding: rem($halfGutter);
            }
        }
    }
}